format = """
$shlvl\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$env_var\
$sudo\
$time\
$cmd_duration\
$jobs\
$os\
$container\
$shell\
$status\
$line_break\
$character"""

[directory]
truncate_to_repo = false

[git_commit]
only_detached = false
tag_disabled = false

[time]
disabled = false

[git_branch]
symbol = "ï˜ "

[status]
disabled = false
map_symbol = true
pipestatus = true
format = "[$symbol $status]($style) "
