/* Hide unused elements */
#alltabs-button,
#forward-button[disabled="true"],
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon-box,
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon-box,
#pageAction-urlbar-_testpilot-containers,
#reader-mode-button,
#star-button-box,
#tracking-protection-icon-container,
#translations-button,
#unified-extensions-button,
#userContext-icons,
.tab-audio-button,
.tab-close-button,
.tab-icon-overlay,
.titlebar-spacer {
  display: none !important;
}

/* One line header */
:root {
  --nav-bar-width: clamp(0px, 50vw, 450px);
}
#TabsToolbar {
  margin-left: var(--nav-bar-width) !important;
}
#nav-bar {
  margin-top: calc((var(--urlbar-min-height) * -1) - 10px) !important;
  margin-right: calc(100vw - var(--nav-bar-width)) !important;
}
#urlbar-container {
  width: calc(2 * var(--toolbarbutton-inner-padding)) !important;
}
#navigator-toolbox {
  background: #1f2122 !important;
  border-bottom: none !important;
}
#nav-bar {
  background: #1f2122 !important;
}
